h1 {
margin-top:40px;
 color: #FFFFFF; 
 font-size: 25px;
}
h2 {
    color:#FFFFFF;
    font-size: 55px;
 }

 body {
   
    background-size: 100% 100%;
    background-color:#202020 ;
    text-align: center;
    
 }

 
 p {
    color: #FFFFFF;
    margin-top: 50px;
    text-align:center;
    line-height:20px;
    margin-right:130px;
   
}
button {
  margin-top:10px;
  font-size: 15px;
  margin-right:250px ;
 }

 logo {
  text-align: left;
  color:#FFFFFF;
  
}


footer {
  margin:20px 0; 
  background-color:rgb(33,37,41)
}

footer.social-links a {
  margin: 80px;
  color:#FFFFFF;
  padding: 50px;
  border-radius:50px;
  font-size:40px ;
} 

.gallery  {
  color:#FFFFFF;
  font-size: 50px;
  margin-top:30px;
  margin-bottom: 30px;
}


.about-me h2  {
  text-align: center;
  font-size: 20px; 
  color: palevioletred;
  margin-top:40px;
 margin-right:280px ;
 margin-bottom:0;
}

.about-me h3  {
  text-align: center;
  font-size: 20px; 
  color: palevioletred;
  margin-top:20px;
 font-size: 20px;
 margin-right:250px ;
}
.about-me p {
  font-size: 15px;
   margin-right:280px ;
  line-height:25px;
  display:flex;
  margin-top:5px;
}

.btn-secondary-1 {
  color:#202020;
  background-color: #FFFFFF;
  text-decoration-color: none;
  font-weight: bold;
 
}
.btn-secondary-1:hover {
  background-color:rgb(141, 138, 138);
  color:#FFFFFF;
}
.btn-secondary {
  color:#202020;
  background-color: #FFFFFF;
  text-decoration-color: none;
  font-weight: bold;
  margin-right: 280px;
}

.site-footer {
    position:fixed;
    bottom:0;
    left:0;
    height: 90px;
    background-color:#282323;
  }
  .navbar-toggler {
    background-color:#282323;
  
  }
  .img-fluid-rounded {
    margin-top:70px;
    width: 10px;
    display: flex;
    justify-content: flex-start;
    display: flex;
    justify-content: flex-start;
    padding: 22px;
  }
  .contact-me {
    text-align: center;
    margin-left: 80px;
  }

  .contact h1 {
    text-align: center;
    color:#FFFFFF;
    font-size:100px;
    margin-top:50px;
 }
.contact-me h3 {
  text-align: center;
  color:palevioletred;
  font-size: 30px;
 }
.contact p {
  text-align: center;
  color: #FFFFFF;
  margin-bottom:20px;
  margin-left:90px;
  
  }
.contact-me p {
  text-align: center;
  color: #FFFFFF;
  margin-bottom:20px;
}
  .contact-me a {
    text-align: center;
    color: #FFFFFF;
   margin-left: 100px;
    }
   
    .hero {
      padding: 80px 20px;
    }
  
    .about-section {
      text-align: center;
      padding: 0;
    }
  
    .project-desciption {
      padding: 0;
      text-align: center;
    }

    @media (max-width:856px) {
    .index-container  {
      text-align:center;
    }
    .index-container p {
      text-align: center;
      font-size: 20px; 
      margin-left:40px;
    }    
    
    .contact-me {
      text-align:center;
      display:inline;
      margin-right: 20px;
    
      }
   
    
    .about-me {
      text-align:center;
    }
  
      
.about-me h2  {
  text-align: center;
  color: palevioletred;
 font-size: 20px;
 margin-left:40px;
}

.about-me h3  {
  text-align: center;
  font-size: 20px; 
  color: palevioletred;
  margin-left:40px;


}

.about-me p {
  text-align: center;
  font-size: 20px; 
  margin-left:40px;

}
    button {
      text-align: center;
      margin-left:90px; 
  
    }
    .btn-secondary {
      display: center;
      margin-left:90px;  
    }

    .gallery {
      text-align:center;
    }
     h1 {
      font-size: 44px;
      line-height: 56px;
    }
  
    h2 {
      font-size: 44px;
    }
    p {
      text-align:center;
      display:inline;
      margin-left:90px;
      padding-left: 50px;
      padding-top:20px ;
    }
    .image-fluid-rounded {
      display:fex;
      
    }
    .body {
      text-align:center
      }
      .navbar-toggler {
        display:flex;
      }
    }

  
  