h1 {
margin-top:60px;
 color: #FFFFFF; 
 font-size: 25px;
}
h2 {
    color:#FFFFFF;
    font-size: 55px;
 }

 body {
    background-image:url('images/face-cover.jpg');
    background-repeat: repeat;
    background-size: 100% 100%;
    background-color:#202020 ;
    text-align: center;
    
 }

 
 p {
    color: #FFFFFF;
    margin-top: 50px;
    text-align:center;
    line-height:20px;
    margin-right:130px;
   
}
.about-me p {
  font-size: 15px;
  margin-right: 100px;
}


.about-me h2 {
  font-size: 20px; 
  color: palevioletred;
}

.btn-primary {
  color:#202020;
  background-color: #FFFFFF;
  text-decoration-color: none;
  font-weight: bold;
 
}
.btn-primary:active:hover {
  color:#202020;
  background-color: #FFFFFF;
  text-decoration-color: none;
  font-weight: bold;
}
.site-footer {
    position:fixed;
    bottom:0;
    left:0;
    height: 90px;
    background-color:#282323;
  }
  .navbar-toggler {
    background-color:#282323;
  
  }
  .img-fluid-rounded {
    margin-top: 20px;
  width: 10px;
  display: flex;
  justify-content: flex-start;
      display: flex;
      justify-content: flex-start;
  }
  


